:root {
  --debug: 1px solid red;
  /* primary colors */
  --darkBlue: rgb(37, 52, 153);
  --mediumBlue: rgb(43, 61, 179);
  --lightBlue: rgb(49, 70, 203);
  /* secondary colors */
  --lightGrey: rgb(230, 230, 232);
  --darkGrey: rgb(228, 227, 229);

  /* neutral colors */
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);

  /* font families  */
  --globalFont: "Crimson Text", serif;
  --logoFont: "Hachi Maru Pop", cursive;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: var(--globalFont);
  color: var(--VeryDarkBlue);
}
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

body,
* {
  transition: 0.3s;
}
a {
  text-decoration: none;
}
input,
select {
  border: none;
  cursor: pointer;
}
input:focus,
select:focus {
  outline: none;
}
button {
  border-style: none;
  border: none;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
